n8n-simple-test.json
{
  "name": "Content Rewards - Simple v4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-rewards",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// Return the input as-is\nreturn [$input.all()];"
      },
      "id": "pass-through",
      "name": "Pass Through",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "channel": "{{ $json.campaign }}",
        "text": "🎬 New clip request!\n\nYouTube: {{ $json.youtube_url }}\nCampaign: {{ $json.campaign }}\nNotes: {{ $json.notes }}"
      },
      "id": "slack-notify",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true }) }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Pass Through", "type": "main", "index": 0 }]]
    },
    "Pass Through": {
      "main": [[{ "node": "Slack Notify", "type": "main", "index": 0 }]]
    },
    "Slack Notify": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
