posting-manager-workflow.json
{
  "name": "Content Rewards - Posting Manager",
  "nodes": [
    {
      "id": "1",
      "name": "1. Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 300],
      "parameters": {
        "rule": "everyDay",
        "hour": 8,
        "minute": 0
      }
    },
    {
      "id": "2",
      "name": "2. Get Approved Clips",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [220, 300],
      "parameters": {
        "operation": "list",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "{{$env.AIRTABLE_APP_ID}}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblCLIPS"
        }
      }
    },
    {
      "id": "3",
      "name": "3. Rank by Hook Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "var clips = $input.all().map(function(x) { return x.json; });\nclips.sort(function(a, b) { return (b['Hook Score'] || 0) - (a['Hook Score'] || 0); });\nreturn clips.map(function(c, i) { return {json: {post_order: i + 1}};);"
      }
    },
    {
      "id": "4",
      "name": "4. Group by Campaign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "var clips = $input.all().map(function(x) { return x.json; });\nvar grouped = {};\nclips.forEach(function(c) {\n  var campaign = c.Campaign || 'Unassigned';\n  if (!grouped[campaign]) grouped[campaign] = [];\n  grouped[campaign].push(c);\n});\nvar result = Object.keys(grouped).map(function(campaign) {\n  return {json: {campaign: campaign, clips: grouped[campaign], total: grouped[campaign].length}};\n});\nreturn result;"
      }
    },
    {
      "id": "5",
      "name": "5. Build Schedule Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "parameters": {
        "jsCode": "var campaigns = $input.all().map(function(x) { return x.json; });\nvar msg = '📅 DAILY POSTING SCHEDULE\\n\\n';\ncampaigns.forEach(function(c, i) {\n  msg += (i+1) + '. ' + c.campaign + ' (' + c.total + ' clips)\\n';\n  c.clips.forEach(function(clip) {\n    var caption = (clip['Caption Selected'] || 'No caption').substring(0, 50);\n    msg += '   Post ' + clip.post_order + ' - [Score: ' + (clip['Hook Score']||'N/A') + '] ' + caption + '...\\n';\n  });\n  msg += '\\n';\n});\nmsg += '_Post highest scores first_ ';\nreturn [{json:{message:msg}};"
      }
    },
    {
      "id": "6",
      "name": "6. Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [1100, 300],
      "parameters": {
        "channel": "{{$json.channel}}",
        "text": "{{$json.message}}"
      }
    }
  ],
  "connections": {
    "1. Schedule Trigger": {
      "main": [[{"node": "2. Get Approved Clips", "type": "main", "index": 0}]]
    },
    "2. Get Approved Clips": {
      "main": [[{"node": "3. Rank by Hook Score", "type": "main", "index": 0}]]
    },
    "3. Rank by Hook Score": {
      "main": [[{"node": "4. Group by Campaign", "type": "main", "index": 0}]]
    },
    "4. Group by Campaign": {
      "main": [[{"node": "5. Build Schedule Message", "type": "main", "index": 0}]]
    },
    "5. Build Schedule Message": {
      "main": [[{"node": "6. Send to Slack", "type": "main", "index": 0}]]
    }
  }
}
